.pixelify-sans {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background-image: url('https://img.itch.zone/aW1nLzEzNzczMjU3LmdpZg==/original/W%2Fd8%2BO.gif');
}

main{
    display: flex;
    flex-direction: row;
    flex: auto;
    margin-bottom: 5px;
    min-height: 100vh;
}

article{
    flex: 2;
    overflow-y: auto;
    font-size: 15px;
    background-color: #FAFAFA;
    border: 5px solid black;
}


aside {
    flex: 1;
    overflow-y: auto;
    border: 5px solid black;
}

header {
    border: none;
}

footer {
    background-color: rgb(228, 245, 202);
    border: 5px solid black;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;
}

nav {
    background-color: rgb(228, 245, 202);
    border: 5px solid black;
}

nav ul li {
    line-height: 0;
}

.nav-links {
    font-family:  "Pixelify Sans", sans-serif;
    font-size: 30px;
}

@media (max-width: 895px) {
    main {
        padding-top: 20px; 
    }
}

@media (max-width: 768px) {
    main {
        padding-top: 100px; 
    }
}

.link-underline:hover{
    text-decoration: underline;
    color: coral;
}

ul li {
    line-height: 150%
}

p {
    line-height: 150%;
}

a {
    color: coral;
}

h1 {
    color: coral;
    font-family:  "Pixelify Sans", sans-serif;
}

h2 {
    color: rgb(142, 154, 123);
    font-family: "Pixelify Sans", sans-serif;
}

h3 {
    color: rgb(142, 154, 123);
    font-family: "Pixelify Sans", sans-serif;
}

.right {
    padding: 10pt;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

blockquote {
    font-style: italic;
    background-color: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 20px;
    padding: 15px;
}

pre {
    background-color: #eee;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
}

.intro {
    background-color: #eee;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 15px;
    border-radius: 8px;
}

.btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: black;
    color:white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background-color: coral;
    color: black;
}

.italic-line {
    font-style: italic;
}

.start-quiz {
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-quiz .btn {
    width: 180px;
    font-size: 15px;
}

.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    display: none;
}

.quiz-container .btn {
    width: 180px;
    font-size: 15px;
}

.question {
    font-size: 22px;
    background: white;
    color: black;
    padding: 16px;
    border-radius: 8px;
    line-height: 1.6;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-bottom: 15px;
}

@media (max-width: 700px){
    .options {
        grid-template-columns: 1fr;
    }
}

.option {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 10px;
    border-radius: 8px;
    font-size: 18px;
    background: coral;
    color: black;
    cursor: pointer;
}

.timer {
    font-weight: bold;
    text-align: right;
}

.danger {
    color: crimson;
}

.timer-img {
    width: 30px;
    height: 30px;
}

.disabled {
    pointer-events: none;
}

.right-answer {
    background-color: green;
}

.wrong-answer {
    background-color: crimson;
}

.result {
    display: none;
}

.question-number {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    background: black;
    margin-right: 5px;
    color: white;
    padding: 7px;
    border-radius: 8px;
}

.end-img {
    display: none;
    width: 700px;
    height: 400px;
}